{#
/**
 * @file
 * Default theme implementation for a ae_character edit form.
 *
 * Two column template for the ae_character add/edit form.
 *
 * This template will be used when a ae_character edit form specifies 'ae_character_edit_form'
 * as its #theme callback.  Otherwise, by default, ae_character add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The ae_character add/edit form.
 *
 * @see seven_form_ae_character_form_alter()
 *
 * @ingroup themeable
 */
#}
THEME!!!
<div class="layout-ae-character-form clearfix">
  <div class="layout-region layout-region-ae-character-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-ae-character-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-ae-character-footer">
    <div class="layout-region-ae-character-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
